aside img{
    width:100px;
    height:100px;
}
article img{
    height:300px;
    width:450px;
}
.perfil{
    display: flex;
    justify-content: center;
   }
.Libro{
    display: flex;
    justify-content: center;
}
.aa{
    background-color: rgb(219, 223, 223);
}
.recetas a{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.recetas a:hover{
    color: #0fcbec; 
}
h4{
    display: flex;
    justify-content: center;
    height: 25px;
    background-color: cadetblue;
}

.menu{

    height: 18px;
}
.container{
    padding: 20px;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}
.sobre_mi{
    height: 700px;
    width: 300px;
    margin: 20px;
    display: flex;
}
.recetas{
    display: flex;
    flex-wrap: wrap;
    height: 1100px;
    width: 1000px;
   
}

.date{
    border-top	: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
}
